//
// Variables
//
$font-size-base:			1.5rem;
$link-decoration:			none;

$primary:					#6f42c1; // $purple

$font-family-sans-serif:	'Open Sans', sans-serif;
$headings-font-family:		'Roboto Slab', sans-serif;
$headings-font-weight:		900;
