//
// Custom
//
@import "custom";

//
// Import the parent styles
//
@import "../../../../theming_/assets/src/scss/style";

//
// Mixing
//
.gradient{
	&-text{
		background: -webkit-linear-gradient(75deg, $purple, $pink);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

//
// Body
//
body{
	background-color: $purple-900;
	color: $gray-400;
}

//
// Navigation
//
#site{
	&-navigation{
		@extend .navbar-dark;
		@extend .bg-transparent;
		@extend .py-5;
		.navbar{
			&-brand{
				color: $gray-400;
				font-family: $headings-font-family;
				@extend .fw-bold;
			}
		}
	}
}

#the{
	&-top-menu{
		.menu{
			&-item{
				@extend .ms-3;
			}
		}
	}
	&-footer-menu{
		.menu{
			&-item{
				svg{
					fill: $gray-400;
				}
			}
		}
	}
}

//
// Content
//
.entry{
	&-title{
		@extend .gradient-text;
	};
}
